<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Exo:200" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/CSS/style.css">

  <title>BATTLE</title>
</head>

<header>
<h1 class="main-heading">Battle!</h1>
<h2>Sign in to play</h2>
</header>
<br>
<body class='background-image'>
<form action="/names" method="post">
  <label for="player_1">
    Player 1 name
    <input type="text" name="player_1">
  </label>
  <label for="player_2">
    Player 2 name
    <input type="text" name="player_2">
  </label>
  <input type="submit" value="Submit">
</form>
</body>
</html>
